<h3 class="first text-center">Comsatel Basic ToDo</h3>
<div class="container" style="width: 70%;">
    <p-toast position="top-right"></p-toast>


    <p-panel header="Tareas">
        <p-messages [(value)]="msgs"></p-messages>
        <div class="p-formgroup-inline">
            <div class="p-field">
                <input id="descripcion" type="text" pInputText placeholder="Ingresar Tarea" [(ngModel)]="tarea.descripcion">
            </div>
            <button type="button" pButton icon="pi pi-plus" label="Agregar" (click)="save()"></button>
        </div>
        <p-table [value]="tareas" [columns]="cols" [paginator]="true" [rows]="10" editMode="row" dataKey="idTarea">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em">
                    </th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tarea let-editing="editing" let-ri="rowIndex">
                <!--let-columns="columns"-->
                <!--<td *ngFor="let col of columns">
                        {{tarea[col.field]}}
                    </td>-->
                <tr [pEditableRow]="tarea">
                    <td>
                        <!--<p-tableCheckbox [value]="tarea" (selection)="SelectRow(event)"></p-tableCheckbox>-->
                        <p-checkbox [(ngModel)]="tarea.estado" binary="true" (click)="SelectRow(tarea)"></p-checkbox>
                    </td>
                    <td>{{tarea.idTarea}}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="tarea.descripcion" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{tarea.descripcion}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(tarea)"></button>
                        <button #act *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(tarea)"></button>
                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(tarea, ri)"></button> &nbsp;
                        <button pButton type="button" icon="pi pi-trash" class="ui-button-info" (click)="onRowDelete(tarea.idTarea)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <!-- Mensaje de Confirmación-->
    <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid ui-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm(tarea.idTarea)" label="Si" class="ui-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
    </p-toast>
</div>